body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.img-reset {
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.img-square {
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.background-reset {
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.card-expanded-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 12px;
  font-size: .8rem;
  gap: 8px;
}

.card-expanded-list li {
  border-bottom: solid rgb(169, 169, 169) 1px;
  /* background: gray; */
}

.overflow-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 12px;
}

.modal-box {
  color: #000;
}

.hero-gradient {
  background: linear-gradient(to bottom, #566CE9, #343C6D);
}

.appear {
  transform: translateX(0%);
}

.disappear {
  transform: translateX(100%);
}

#mobile_nav {
  transition: all ease .3s;
  z-index: 10;
}

#desktop_nav a {
  cursor: pointer;
}

.menu-opt {
  transition: cubic-bezier(.55,-0.04,.25,2.0) all .3s;
  display: inline-block;
}

.menu-letter-up {
  opacity: 1;
  transform: translateY(0px);
  transition-delay: .1s;
}

.menu-letter-down {
  opacity: 0;
  transform: translateY(12px);
  transition-delay: 0s;
}

.pacifico {
  font-family: 'pacifico';
}